{{ $email := promptStringOnce . "email" "Email address" "adam@awmckinley.net" -}}

encryption = "age"
sourceDir = "~/Code/github.com/awmckinley/config-public"

[age]
    command = "rage"

[data]
    email = {{ $email | quote }}

[diff]
    command = "delta"
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"]
