{{- if eq .chezmoi.os "android" -}}
#!{{ lookPath "bash" }}
#
# Install packages in Termux.

yes | pkg install \
	tur-repo

yes | pkg install \
	aerc \
	bash \
	bat \
	chafa \
	chezmoi \
	choose \
	clang \
	command-not-found \
	coreutils \
	curl \
	delve \
	direnv \
	dos2unix \
	dotnet-sdk-8.0 \
	dust \
	elixir \
	exercism \
	expect \
	eza \
	fastfetch \
	fd \
	fzf \
	git \
	git-delta \
	glow \
	golang \
	gopls \
	graphviz \
	gum \
	hexyl \
	htop \
	imagemagick \
	isync \
	jq \
	just \
	keybase \
	lazygit \
	less \
	lesspipe \
	lldb \
	lua-language-server \
	lua51 \
	luarocks \
	make \
	man \
	mcfly \
	micro \
	navi \
	neovim \
	nmap \
	nodejs-lts \
	notmuch \
	nushell \
	openssh \
	parallel \
	php \
	procs \
	pv \
	pwgen \
	python \
	rage \
	rclone \
	ripgrep \
	rsync \
	ruby \
	ruff \
	rust \
	rust-analyzer \
	sd \
	senpai \
	shellcheck \
	shellharden \
	shfmt \
	silicon \
	starship \
	stylua \
	taplo \
	tasksh \
	taskwarrior \
	tealdeer \
	tinymist \
	tmux \
	tree \
	tree-sitter \
	tsu \
	typst \
	unzip \
	vim \
	vivid \
	watchexec \
	wget \
	wol \
	wtfutil \
	yazi \
	zig \
	zoxide \
	zsh
{{- end -}}
