{{ if eq .chezmoi.os "windows" }}

function Install-Configuration {
	param (
		[Parameter(Mandatory=$true)]
		[string] $File,

		[switch] $Elevate
	)

	if ($Elevate) {
		gsudo winget configure --file {{ .chezmoi.sourceDir }}\..\$File --accept-configuration-agreements --suppress-initial-details --ignore-warnings
	} else {
		winget configure --file {{ .chezmoi.sourceDir }}\..\$File --accept-configuration-agreements --suppress-initial-details --ignore-warnings
	}
}

Install-Configuration -File modules\audio\buzz.dsc.yaml
Install-Configuration -File modules\audio\eartrumpet.dsc.yaml
Install-Configuration -File modules\chat\discord.dsc.yaml
Install-Configuration -File modules\chat\keybase.dsc.yaml
Install-Configuration -File modules\chat\slack.dsc.yaml
Install-Configuration -File modules\chat\teams.dsc.yaml
Install-Configuration -File modules\code\010-editor.dsc.yaml
Install-Configuration -File modules\code\bcomp.dsc.yaml
Install-Configuration -File modules\code\code.dsc.yaml
Install-Configuration -File modules\code\cursor.dsc.yaml
Install-Configuration -File modules\code\devenv.dsc.yaml -Elevate
Install-Configuration -File modules\code\devtoys.dsc.yaml
Install-Configuration -File modules\code\exercism.dsc.yaml
Install-Configuration -File modules\code\hxd.dsc.yaml
Install-Configuration -File modules\code\ilspy.dsc.yaml
Install-Configuration -File modules\code\jetbrains.dsc.yaml
Install-Configuration -File modules\code\linqpad.dsc.yaml
Install-Configuration -File modules\code\livebook.dsc.yaml
Install-Configuration -File modules\code\meld.dsc.yaml
Install-Configuration -File modules\code\resource-hacker.dsc.yaml
Install-Configuration -File modules\code\structuredlogviewer.dsc.yaml
Install-Configuration -File modules\code\tldr.dsc.yaml
Install-Configuration -File modules\code\vim.dsc.yaml
Install-Configuration -File modules\code\zeal.dsc.yaml
Install-Configuration -File modules\dash\btm.dsc.yaml
Install-Configuration -File modules\dash\fastfetch.dsc.yaml
Install-Configuration -File modules\dash\hwinfo.dsc.yaml
Install-Configuration -File modules\dash\perfview.dsc.yaml
Install-Configuration -File modules\dash\procs.dsc.yaml
Install-Configuration -File modules\dash\siw.dsc.yaml
Install-Configuration -File modules\db\heidisql.dsc.yaml
Install-Configuration -File modules\db\ssms.dsc.yaml
Install-Configuration -File modules\db\tableplus.dsc.yaml
Install-Configuration -File modules\disk\balenaetcher.dsc.yaml
Install-Configuration -File modules\disk\cryptomator.dsc.yaml
Install-Configuration -File modules\disk\dua.dsc.yaml
Install-Configuration -File modules\disk\dupeguru.dsc.yaml
Install-Configuration -File modules\disk\everything.dsc.yaml
Install-Configuration -File modules\disk\files.dsc.yaml
Install-Configuration -File modules\disk\link-shell-extension.dsc.yaml
Install-Configuration -File modules\disk\lockhunter.dsc.yaml
Install-Configuration -File modules\disk\nanazip.dsc.yaml
Install-Configuration -File modules\disk\nilesoft-shell.dsc.yaml
Install-Configuration -File modules\disk\onecommander.dsc.yaml
Install-Configuration -File modules\disk\quicklook.dsc.yaml
Install-Configuration -File modules\disk\totalcmd.dsc.yaml
Install-Configuration -File modules\disk\wiztree.dsc.yaml
Install-Configuration -File modules\disk\xplorer.dsc.yaml
Install-Configuration -File modules\disk\yazi.dsc.yaml
Install-Configuration -File modules\doc\anki.dsc.yaml
Install-Configuration -File modules\doc\bullzip.dsc.yaml
Install-Configuration -File modules\doc\calibre.dsc.yaml
Install-Configuration -File modules\doc\dngrep.dsc.yaml
Install-Configuration -File modules\doc\draw-io.dsc.yaml
Install-Configuration -File modules\doc\glow.dsc.yaml
Install-Configuration -File modules\doc\miktex.dsc.yaml
Install-Configuration -File modules\doc\obsidian.dsc.yaml
Install-Configuration -File modules\doc\office.dsc.yaml
Install-Configuration -File modules\doc\paprika.dsc.yaml
Install-Configuration -File modules\doc\pdfsam.dsc.yaml
Install-Configuration -File modules\doc\sumatrapdf.dsc.yaml
Install-Configuration -File modules\game\steam.dsc.yaml
Install-Configuration -File modules\gen\ollama.dsc.yaml
Install-Configuration -File modules\glyph\fonts.dsc.yaml
Install-Configuration -File modules\img\chafa.dsc.yaml
Install-Configuration -File modules\img\exiftool.dsc.yaml
Install-Configuration -File modules\img\honeyview.dsc.yaml
Install-Configuration -File modules\img\imageglass.dsc.yaml
Install-Configuration -File modules\img\imagemagick.dsc.yaml
Install-Configuration -File modules\img\paintdotnet.dsc.yaml
Install-Configuration -File modules\img\pinta.dsc.yaml
Install-Configuration -File modules\img\screentogif.dsc.yaml
Install-Configuration -File modules\img\sharex.dsc.yaml
Install-Configuration -File modules\input\masir.dsc.yaml
Install-Configuration -File modules\input\pastebar.dsc.yaml
Install-Configuration -File modules\input\whkd.dsc.yaml
Install-Configuration -File modules\input\yank.dsc.yaml
Install-Configuration -File modules\mail\papercut.dsc.yaml
Install-Configuration -File modules\media\ffmpeg.dsc.yaml
Install-Configuration -File modules\media\file-converter.dsc.yaml
Install-Configuration -File modules\media\fileoptimizer.dsc.yaml
Install-Configuration -File modules\media\handbrake.dsc.yaml
Install-Configuration -File modules\media\mkvtoolnix.dsc.yaml
Install-Configuration -File modules\media\mpv.dsc.yaml
Install-Configuration -File modules\media\musicbee.dsc.yaml
Install-Configuration -File modules\media\picard.dsc.yaml
Install-Configuration -File modules\media\plex.dsc.yaml
Install-Configuration -File modules\media\potplayer.dsc.yaml
Install-Configuration -File modules\net\advanced-ip-scanner.dsc.yaml
Install-Configuration -File modules\net\angry-ip-scanner.dsc.yaml
Install-Configuration -File modules\net\azure.dsc.yaml
Install-Configuration -File modules\net\easyconnect.dsc.yaml
Install-Configuration -File modules\net\io-ninja.dsc.yaml
Install-Configuration -File modules\net\miniserve.dsc.yaml
Install-Configuration -File modules\net\netmon.dsc.yaml
Install-Configuration -File modules\net\networkmanager.dsc.yaml
Install-Configuration -File modules\net\nirsoft.dsc.yaml
Install-Configuration -File modules\net\nmap.dsc.yaml
Install-Configuration -File modules\net\rclone.dsc.yaml
Install-Configuration -File modules\net\tailscale.dsc.yaml
Install-Configuration -File modules\net\wol.dsc.yaml
Install-Configuration -File modules\nvim\bicep.dsc.yaml
Install-Configuration -File modules\nvim\cs.dsc.yaml
Install-Configuration -File modules\nvim\d2.dsc.yaml
Install-Configuration -File modules\nvim\gleam.dsc.yaml
Install-Configuration -File modules\nvim\go.dsc.yaml
Install-Configuration -File modules\nvim\html.dsc.yaml
Install-Configuration -File modules\nvim\javascript.dsc.yaml
Install-Configuration -File modules\nvim\lua.dsc.yaml
Install-Configuration -File modules\nvim\markdown.dsc.yaml
Install-Configuration -File modules\nvim\nvim.dsc.yaml
Install-Configuration -File modules\nvim\php.dsc.yaml
Install-Configuration -File modules\nvim\python.dsc.yaml
Install-Configuration -File modules\nvim\ruby.dsc.yaml
Install-Configuration -File modules\nvim\rust.dsc.yaml
Install-Configuration -File modules\nvim\sh.dsc.yaml
Install-Configuration -File modules\nvim\toml.dsc.yaml
Install-Configuration -File modules\nvim\typst.dsc.yaml
Install-Configuration -File modules\nvim\zig.dsc.yaml
Install-Configuration -File modules\pkg\chezmoi.dsc.yaml
Install-Configuration -File modules\pkg\mise.dsc.yaml
Install-Configuration -File modules\pkg\nuget.dsc.yaml
Install-Configuration -File modules\pkg\nugetpackageexplorer.dsc.yaml
Install-Configuration -File modules\pkg\unigetui.dsc.yaml
Install-Configuration -File modules\pkg\winget.dsc.yaml
Install-Configuration -File modules\secret\keeper.dsc.yaml
Install-Configuration -File modules\secret\mkcert.dsc.yaml
Install-Configuration -File modules\secret\op.dsc.yaml
Install-Configuration -File modules\secret\rage.dsc.yaml
Install-Configuration -File modules\shell\aliae.dsc.yaml
Install-Configuration -File modules\shell\bat.dsc.yaml
Install-Configuration -File modules\shell\carapace.dsc.yaml
Install-Configuration -File modules\shell\clink.dsc.yaml
Install-Configuration -File modules\shell\coreutils.dsc.yaml
Install-Configuration -File modules\shell\direnv.dsc.yaml
Install-Configuration -File modules\shell\dos2unix.dsc.yaml
Install-Configuration -File modules\shell\eza.dsc.yaml
Install-Configuration -File modules\shell\fzf.dsc.yaml
Install-Configuration -File modules\shell\gsudo.dsc.yaml
Install-Configuration -File modules\shell\gum.dsc.yaml
Install-Configuration -File modules\shell\hexyl.dsc.yaml
Install-Configuration -File modules\shell\jq.dsc.yaml
Install-Configuration -File modules\shell\just.dsc.yaml
Install-Configuration -File modules\shell\less.dsc.yaml
Install-Configuration -File modules\shell\mcfly.dsc.yaml
Install-Configuration -File modules\shell\nu.dsc.yaml
Install-Configuration -File modules\shell\pwsh.dsc.yaml
Install-Configuration -File modules\shell\rg.dsc.yaml
Install-Configuration -File modules\shell\sd.dsc.yaml
Install-Configuration -File modules\shell\sg.dsc.yaml
Install-Configuration -File modules\shell\starship.dsc.yaml
Install-Configuration -File modules\shell\sysinternals.dsc.yaml
Install-Configuration -File modules\shell\tre.dsc.yaml
Install-Configuration -File modules\shell\vhs.dsc.yaml
Install-Configuration -File modules\shell\vivid.dsc.yaml
Install-Configuration -File modules\shell\watch.dsc.yaml
Install-Configuration -File modules\shell\watchman.dsc.yaml
Install-Configuration -File modules\shell\zoxide.dsc.yaml
Install-Configuration -File modules\term\wezterm.dsc.yaml
Install-Configuration -File modules\term\windowsterminal.dsc.yaml
Install-Configuration -File modules\vc\delta.dsc.yaml
Install-Configuration -File modules\vc\git.dsc.yaml
Install-Configuration -File modules\vc\lazygit.dsc.yaml
Install-Configuration -File modules\virt\automatedlab.dsc.yaml
Install-Configuration -File modules\virt\ddev.dsc.yaml
Install-Configuration -File modules\virt\helm.dsc.yaml
Install-Configuration -File modules\virt\kubectl.dsc.yaml
Install-Configuration -File modules\virt\lazydocker.dsc.yaml
Install-Configuration -File modules\virt\minikube.dsc.yaml
Install-Configuration -File modules\virt\ntlite.dsc.yaml
Install-Configuration -File modules\web\arc.dsc.yaml
Install-Configuration -File modules\web\mullvad.dsc.yaml
Install-Configuration -File modules\web\thorium.dsc.yaml
Install-Configuration -File modules\web\wget.dsc.yaml
Install-Configuration -File modules\wm\altsnap.dsc.yaml
Install-Configuration -File modules\wm\flow-launcher.dsc.yaml
Install-Configuration -File modules\wm\glazewm.dsc.yaml
Install-Configuration -File modules\wm\komorebi.dsc.yaml
Install-Configuration -File modules\wm\powertoys.dsc.yaml
Install-Configuration -File modules\wm\twinkle-tray.dsc.yaml
Install-Configuration -File modules\wm\zebar.dsc.yaml
Install-Configuration -File systems\windows\default.dsc.yaml

{{ end }}
