{{- if eq .chezmoi.os "android" -}}
#!{{ lookPath "bash" }}
#
# Install packages in Termux.

pkg install \
	bat \
	chezmoi \
	eza \
	fd \
	git \
	git-delta \
	golang \
	gotop \
	htop \
	just \
	lazygit \
	lua51 \
	luarocks \
	micro \
	neovim \
	nodejs-lts \
	nushell \
	rage \
	ripgrep \
	taskwarrior \
	tmux \
	vim \
	wget \
	zoxide
{{- end -}}
